.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.input {
    padding: 10px;
    width: 40%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
}

.input:focus {
    outline-style: groove;
    outline-color: grey;
}



.weather-data {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px; */
}

.city {
    font-size: 30px;
    font-weight: 200;
}

.temp {
    font-size: 50px;
    border: 1px solid lightgray;
    border-radius: 13px;
    padding: 13px;
}

.weather {
    font-size: 30px;
    font-weight: 200;
}

.hints {
    font-size: 18px;
}